:root {
    /* Colors */
    --dark-background: #1F2023;
    --light-background: #FFFFFF;
    /* --light-background: #F5EDE0; */

    --yellow-primary: #F2BE58;
    --yellow-secondary: #FFFAEA;
    --yellow-tertiary: #fffaea8b;

    --green-primary: #72C0A2;
    --green-secondary: #F6FFFC;

    --red-primary: #ED6D44;
    --red-secondary: #FDF4EF;

    --pink-primary: #F3A0B9;
    --pink-secondary: #FFF3F8;

    --blue-primary: #4E7BBE;
    --blue-secondary: #F3F7FF;

    /* Shadows */
    --shadow-1: 0px 4px 5px rgba(0, 0, 0, 0.25);

    margin: 0;
    padding: 0;

    /* Card variables */
    --card-border-radius: 40px;
}

@font-face {
    font-family: 'PP Fragment Variable';
    src: url(../font/PPFragment-Variable.ttf);
    font-weight: 100 900;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none; /* Disable pull-to-refresh */
}

body > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Hide scroll bar in IE and Edge */
    scrollbar-width: none;  /* Hide scroll bar in Firefox */
    background-color: var(--dark-background);
}

body::-webkit-scrollbar { /* Hide scroll bar in Safari, Chrome, Opera */
    display: none;
}

.barra-in-alto {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    margin: 0 8px;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.motto-container {
    display: none;
}

.animatedLogoContainer {
    width: 300px;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    margin: 0;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.single-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 250px; /* former 180px */
    height: 375px;
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-1);
    overflow: hidden;
    position: relative;
    margin: 24px;
    z-index: 2;
    transition: scale 0.3s cubic-bezier(.3, 1.77, .68, .93);
}

.green-card {
    background-color: var(--green-primary);
}

.red-card {
    background-color: var(--red-primary);
}

.yellow-card {
    background-color: var(--yellow-primary);
}

.pink-card {
    background-color: var(--pink-primary);
}

.blue-card {
    background-color: var(--blue-primary);
}

.cat-title-wrapper {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cat-title {
    position: relative;
    bottom: 250px;
    margin: 0;
    padding: 0;
    
    font-family: 'PP Fragment Variable';
    font-size: 24px;
    font-weight: 100;
    color: var(--light-background);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    opacity: 0;

    transition: opacity 0.5s ease-in-out;
}

.current .cat-title {
    opacity: 1;
}

.current .card {
    scale: 1.15;
}

.current {
    z-index: 10;
}

.face-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex; /* will become flex */
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    padding: 16px;
    box-sizing: border-box;
    z-index: 10;
    background-color: white;
}

.face-wrapper h1 {
    font-family: 'PP Fragment Variable';
    font-variation-settings: 'wght' 550, 'SRFF' 80, 'slnt' 0;
    font-size: 24px;
    color: black;
    margin: 0;
    padding: 0;
    text-align: left;
}

.face-wrapper h2 {
    font-family: 'PP Fragment Variable';
    font-variation-settings: 'wght' 350, 'SRFF' 0, 'slnt' 0;
    font-size: 15px;
    color: black;
    margin: 0;
    padding: 0;
    text-align: left;
}

.title-icon-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.small-icon {
    width: 25px;
    height: 25px;
}

.cat-title-wrapper-in-deck {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    margin: 0;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cat-title-in-deck {
    position: relative;
    bottom: 250px;
    margin: 0;
    z-index: 100;
    display: block;

    color: white;
    
    font-family: 'PP Fragment Variable';
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.custom-cursors {
    display: none;
}

@media (min-width: 768px) {

    .barra-in-alto {
        justify-content: space-between;
        padding-left: 5vw;
        padding-right: 5vw;
        z-index: 50;
    }

    .barra-in-alto-espansa {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: unset;
        padding-left: 5vw;
        padding-right: 5vw;
        width: 100vw;
        height: 100dvh;
        box-sizing: border-box;
    }

    .barra-in-alto .motto-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 140px;
        margin-left: -5vw;
        justify-content: center;
        align-items: center;
    }

    .barra-in-alto .motto-container p {
        font-family: 'PP Fragment Variable';
        color: white;
        font-size: 20px;
        text-align: center;
    }

    .barra-in-alto .motto-container img {
        width: 24px;
        animation: bounce 2s ease-in-out infinite;

    }

    @keyframes bounce {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
      }

    .animatedLogoContainer {
        width: 320px;
        margin: 0 auto;
    }

    .menu-link {
        position: relative;
        font-family: 'PP Fragment Variable';
        font-size: 16px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        opacity: 0.7;
        padding: 8px 4px;
    }

    .menu-link:hover {
        opacity: 1;
    }

    .menu-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; /* Adjust this value as needed */
        width: 100%;
        height: 2px;
        background-color: white; /* Set the desired line color */
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }
      
      .menu-link:hover::after {
        transform: scaleX(1);
      }

    .deck-page {
        cursor: none;
        background-color: var(--dark-background);
    }

    .deck-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding-top: 100px;
        overflow: hidden;
        z-index: 3;
    }

    .pink-single-card-wrapper {
        z-index: 5;
    }

    .red-single-card-wrapper {
        z-index: 6;
    }

    .blue-single-card-wrapper {
        z-index: 7;
    }

    .yellow-single-card-wrapper {
        z-index: 8;
    }

    .green-single-card-wrapper {
        z-index: 9;
    }

    .card {
        position: absolute;
        width: 300px;
        height: 450px;
        max-height: 450px;
        margin: 0;
        z-index: 10;
    }

    .starter {
        z-index: 11;
        scale: 1.25;
    }

    .pink-card .vector-wrapper{
        background-color: var(--pink-primary);
    }

    .blue-card .vector-wrapper{
        background-color: var(--blue-primary);
    }

    .yellow-card .vector-wrapper{
        background-color: var(--yellow-primary);
    }

    .green-card .vector-wrapper{
        background-color: var(--green-primary);
    }

    .red-card .vector-wrapper{
        background-color: var(--red-primary);
    }

    .vector-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        z-index: 12;
    }

    .vector-wrapper h1 {
        font-family: 'PP Fragment Variable';
        font-variation-settings: 'wght' 550, 'SRFF' 80, 'slnt' 0;
        font-size: 24px;
        color: white;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .vector {
        width: 126px;
        height: 126px;
        object-fit: contain;
    }

    .face-wrapper h1 {
        font-size: 38px;
        line-height: 46px;
        user-select: none;

    }
    
    .face-wrapper h2 {
        font-size: 18px;
        line-height: 23px;
        user-select: none;
    }

    .small-icon {
        width: 30px;
        height: 30px;
        user-select: none;
    }

    .current .card {
        scale: 1.25;
    }

    .cat-title-wrapper {
        width: 300px;
        display: flex;
        justify-content: center;
    }

    .cat-title {
        opacity: 1;
        bottom: 200px;
        pointer-events: none;
    }

    .cat-title-in-deck {
        bottom: 280px;
        font-family: 'PP Fragment Variable';
        font-size: 130px;
        font-variation-settings: "wght" 550, "ital" 0, "SRFF" 0;
        opacity: .2;
        z-index: 2;
    }

    .custom-cursors {
        display: block;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
        pointer-events: none;
    }

    .cat-cursor {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        font-family: 'PP Fragment Variable';
        font-size: 18px;
        font-variation-settings: "wght" 550, "ital" 0, "SRFF" 0;
        color: white;
        border-radius: 16px;
        gap: 4px;
        min-height: 35px;
        min-width: 35px;
        transition: all 0.2s ease-in-out;
    }

    .cat-cursor-invisible {
        width: 0 !important;
        min-height: 0 !important;
        min-width: 20px !important;
        height: 20px;
        gap: 0;
        padding: 0;
    }

    .blue-deck .cat-cursor {
        background-color: var(--blue-primary);
    }

    .pink-deck .cat-cursor {
        background-color: var(--pink-primary);
    }

    .yellow-deck .cat-cursor {
        background-color: var(--yellow-primary);
    }

    .green-deck .cat-cursor {
        background-color: var(--green-primary);
    }

    .red-deck .cat-cursor {
        background-color: var(--red-primary);
    }

    .cat-up-right-arrow {
        width: 16px;
        height: 16px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
    }

    .cat-cursor img {
        transition: all 0.2s ease-in-out;
    }

    .next-cursor {
        width: 70px; /* Double the border-radius value */
        height: 70px; /* Double the border-radius value */
        padding: 0;
        border-radius: 50%;
    }

    .cat-cursor-text {
        transition: opacity 0.1s ease-in-out, width 0.2s ease-in-out;
        width: 100%;
        overflow: hidden;
    }

    .prev-cursor {
        width: 70px; /* Double the border-radius value */
        height: 70px; /* Double the border-radius value */
        padding: 0;
        border-radius: 50%;
    }

    .next-cursor .cat-cursor-text, .prev-cursor .cat-cursor-text, .cat-cursor-invisible .cat-cursor-text {
        opacity: 0;
        width: 0%;
    }

    .next-cursor img {
        rotate: 45deg;
    }

    .prev-cursor img {
        rotate: -135deg;
    }

    .hide-arrow {
        opacity: 0;
        width: 0;
    }
}